@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;700;800&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


/* common btn class */

.btn {
    padding: 20px 43px;
    border-radius: 8px;
    border: none;
    background: #E55473;
    color: #FFF;
    font-family: lato;
    font-size: 20px;
    font-weight: 700;
    margin-top: 32px;
}


/* header area / section */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(229, 84, 115, 0.10);
    gap: 97px;
}

.header-text-area {
    margin-left: 240px;
}

.header-text {
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 32px;
}

.header-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    max-width: 410px;
}

.header-img {
    margin-right: 240px;
    margin-top: 50px;
    object-fit: cover;
    max-height: 635px;
    vertical-align: bottom;
}


/* main container featured flowers */

.main-section {
    margin: 138px 240px 128px 240px;
}

.main-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.main-text {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}


/* featured flower section */

.flowers-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.flower-img {
    width: 210px;
    height: 328px;
    padding: 90px 66px 0px 66px;
    border-radius: 300px 300px 0px 0px;
    margin: auto;
}

.flower-img.pink {
    background: rgba(167, 33, 98, 0.15);
}

.flower-img.blue {
    background: rgba(5, 151, 160, 0.15);
}

.flower-img.green {
    background: rgba(71, 125, 17, 0.15);
    ;
}

.flower-img-name {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin-top: 32px;
    text-decoration-line: underline;
}


/* order now area */

.order-section {
    margin-top: 128px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    text-align: center;
    padding: 86px 175px;
}

.order-details p {
    margin-top: 24px;
}

.banner-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 156px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    text-align: center;
    margin-bottom: 100px;
}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 24px;
}

.sign-up {
    margin-top: 32px;
}

.sales-off {
    color: #E55473;
}

.banner-details {
    margin-left: 150px;
}

.banner-img {
    width: 318px;
    height: 420px;
    margin: 70px 200px 70px;
}

.insta-details {
    text-align: center;
}

.insta-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 24px;
}

.insta-text {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}

.insta-pics {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 0 200px 100px 200px;
}

.insta-pic {
    width: 280px;
    height: 270px;
}

.latest-deal-section {
    background-image: url('../Asset/Rectangle\ 9.png');
    margin: 0 200px 100px 200px;
    text-align: center;
    padding: 70px 0 70px 0;
}

.latest-deal-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 35px;
    font-weight: 900;
}

.latest-deal-text {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin: 16px 0 16px 0;
}

.input {
    width: 600px;
    height: 44px;
    border: none;
    border-radius: 8px;
    background: #FFF;
    padding: 9px 0 9px 9px;
    margin-right: 8px;
}


/* footer section */

.footer {
    background: #111010;
    color: #fff;
    text-align: center;
    padding: 100px 0px 100px 0px;
}

.footer-title {
    font-family: Lato;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 24px;
}

.footer-text {
    margin-bottom: 32px;
    color: rgba(255, 255, 255, 0.90);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.copy-right {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

.ft-flower {
    color: #E55473;
}